<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>nxBee</title>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="navbar-brand">nxBee</div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'hive_management' %}">Hive Management</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="{% url 'donate' %}">Tutorials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="{% url 'donate' %}">Donate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Todo</a>
              </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search hive/note" aria-label="Search">
                <button class="btn" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    {% block page_content %}{% endblock %}
        <div class="col">
          <div class="card h-100">
            <div class="card-footer" style="text-align: center;">
              <small class="text-muted">Balázs Nagy 2023</small>
            </div>
          </div>
        </div>
        <br>&nbsp;

</body>
</html>