{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid" style="background-color: #f0dbb0;">
    
<br>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #efb680;">
        <div class="container-fluid">
          <div class="navbar-brand">Actions:</div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'edit_hive' hive.pk %}">Edit hive details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new_hive' %}">Add a treatment to this hive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new_hive' %}">Add an inspection to this hive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_note' hive.pk %}">Add a note to this hive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'remove_hive' hive.pk %}">Remove this hive</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>

      <br>

    <div class="col">
        <div class="card" style="background-color: #efb680;">
            <div class="card-body">
            <h4 class="card-title">{{ hive.name }}</h4>
            <hr style="color: {{ hive.color }}; height: 10px; margin: 0;">

            <p class="card-text">
                {{ hive.description | linebreaks }}
                <br>
                {{ hive.supers }} supers / {{ hive.frames }} frames
                <br>
                Purpose: {{ hive.purpose }}
                <br>
                Strength: {{ hive.strength }}%
                <br>
                Location: {{ hive.location }}
            </p>
            </div>
        </div>
        <br>
        {% for note in notes %}
        <div class="card" style="background-color: #efb680;">
            <div class="card-body">
            <h6 class="card-title">{{ note.title }} - {{ note.created_on }}</h6>

            <p class="card-text">
                {{ note.body | linebreaks }}
            </p>
            </div>
        </div>
        {% endfor %}

    </div>
    <br>&nbsp;
</div>
{% endblock %}