{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">

    <br>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="navbar-brand">Actions:</div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new_hive' %}">Add a new hive <i class="bi bi-file-plus"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Locations
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{% url 'new_hive' %}">New treatment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{% url 'new_hive' %}">New inspection</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>

<br>

<div class="row">
    <div class="col-9">
        <h5>List of Beehives:</h5>
            <form method="POST" class="text-end">
                {% csrf_token %}
                View: <button class="link" name="gridlist" value="grid"><i class="bi bi-grid-3x2-gap"></i></button> | <button class="link" name="gridlist" value="list"><i class="bi bi-list"></i></button>
            </form>
        
        {% if view == "grid" %}
        <div class="row row-cols-md-4 g-4">
        {% for hive in hives %}
        <div class="col-sm-3 mb-2">
        <div class="card" style="border-color: {{ hive.color }};">
            <div class="card-body">
            <h5 class="card-title"><a href="{% url 'hive_detail' hive.pk %}" class="link-primary">{{ hive.name }}</a></h5>
            <p class="lead" style="background-color: {{ hive.color }}; font-size: 5px;">&nbsp;</p>
            <h6 class="card-subtitle mb-2 text-muted">{{ hive.created_on }}</h6>
            <p class="card-text">
                {{ hive.description | linebreaks | slice:"200" }}
                <hr class="my-4">
                {{ hive.supers }} supers / {{ hive.frames }} frames
                <br>
                Purpose: {{ hive.purpose }}
                <br>
                Strength: {{ hive.strength }}%
                <br>
                Location: {{ hive.location }}
                <br>
                <small><a href="{% url 'edit_hive' hive.pk %}" class="link-primary">edit <i class="bi bi-pencil"></i></a></small>
            </p>
            </div>
        </div>
        </div>
    
        {% endfor %}

        </div>

        {% elif view == "list" %}
        
        <div class="container">
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Supers</th>
                    <th scope="col">Frame</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Strength</th>
                    <th scope="col">Location</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for hive in hives %}
                  <tr>
                    <td style="background-color: {{ hive.color }};"></td>
                    <td><a href="{% url 'hive_detail' hive.pk %}" class="link-primary">{{ hive.name }}</a></td>
                    <td>{{ hive.created_on }}</td>
                    <td>{{ hive.description | slice:"10" }}...</td>
                    <td>{{ hive.supers }}</td>
                    <td>{{ hive.frames }}</td>
                    <td>{{ hive.purpose }}</td>
                    <td>{{ hive.strength }}%</td>
                    <td>{{ hive.location }}</td>
                    <td><a href="{% url 'edit_hive' hive.pk %}" class="link-primary">edit <i class="bi bi-pencil"></i></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

        </div>

        {% endif %}
        </div>

    <div class="col-3">

        <div class="jumbotron">
            <h4>Reports and reminders:</h4>
                <hr class="my-4">
                {% for treatment_report in treatment_reports %}
                {% if forloop.first %}
                <p class="lead">You need to treat the following hives:</p>
                <div class="alert alert-warning" role="alert">
                {% endif %}
                <a href="{% url 'hive_detail' treatment_report.pk %}" class="link-primary">{{ treatment_report.name }}</a><br>
                {% if forloop.last %}
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="popover" data-bs-title="Why You see this?" data-bs-content="The above listed hives don't have any treatments or the last treatment was made 100 days ago">Why I see this?</button>
                {% endif %}
                {% empty %}
                <div class="alert alert-success" role="alert">
                    All looks good!
                </div>
                {% endfor %}

                {% for inspection_report in inspection_reports %}
                {% if forloop.first %}
                <hr class="my-4">
                <p class="lead">You need to inspect the following hives:</p>
                <div class="alert alert-warning" role="alert">
                {% endif %}
                <a href="{% url 'hive_detail' inspection_report.pk %}" class="link-primary">{{ inspection_report.name }}</a><br>
                {% if forloop.last %}
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="popover" data-bs-title="Why You see this?" data-bs-content="The above listed hives don't have any inspections or the last inspection was made more then 10 days ago">Why I see this?</button>
                {% endif %}
                {% empty %}
                <div class="alert alert-success" role="alert">
                    All looks good!
                </div>
                {% endfor %}
          </div>

          <br>

          <br>

          <div class="jumbotron">
            <h4>Stats</h4>
            <hr class="my-4">
            <p class="lead">Stats about Your activity:</p>
            <p>
                Number of hives: {{ hives | length }}<br>
                Number of inspections: {{ inspections | length }}<br>
                Number of treatments: {{ treatments | length }}
            </p>
          </div>

    </div>
</div>
<br>&nbsp;
</div>
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
</script>
{% endblock %}