{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">

    <div class="col">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{ hive.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ hive.created_on }}</h6>
            <p class="lead" style="background-color: {{ hive.color }}; font-size: 5px;"">&nbsp;</p>

            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <div class="navbar-brand">Actions:</div>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'edit_hive' hive.pk %}">Edit hive details <i class="bi bi-pencil"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_inspection' hive.pk %}">Add an inspection to this hive <i class="bi bi-binoculars"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="{% url 'new_hive' %}">Add a treatment to this hive <i class="bi bi-file-medical"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_note' hive.pk %}">Add a note to this hive <i class="bi bi-card-text"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'remove_hive' hive.pk %}">Remove this hive <i class="bi bi-file-x"></i></a>
                        </li>
                    </ul>
                  </div>
                </div>
              </nav>

            <p class="card-text">
                {{ hive.description | linebreaks }}
                <br>
                {{ hive.supers }} supers / {{ hive.frames }} frames
                <br>
                Purpose: {{ hive.purpose }}
                <br>
                Strength: {{ hive.strength }}%
                <br>
                Location: {{ hive.location }}
            </p>
            </div>
        </div>
        <br>
        

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#inspections" type="button" role="tab" aria-controls="home" aria-selected="true">Inspections</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#treatments" type="button" role="tab" aria-controls="profile" aria-selected="false">Treatments</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button" role="tab" aria-controls="contact" aria-selected="false">Notes</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="inspections" role="tabpanel" aria-labelledby="home-tab">
                {% for inspection in inspections %}
                <br>
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title">{{ inspection.name }} - {{ inspection.created_on }}</h6>

                    <p class="card-text">
                        {{ inspection.description | linebreaks }}
                        Queen: 
                        {% if inspection.queen == True %}
                            visible
                        {% else %}
                            not visible
                        {% endif %}
                        <br>
                        Eggs: 
                        {% if inspection.eggs == True %}
                            visible
                        {% else %}
                            not visible
                        {% endif %}
                        <br>
                        Open brood: 
                        {% if inspection.open_brood == True %}
                            visible
                        {% else %}
                            not visible
                        {% endif %}
                        <br>
                        Sealed brood: 
                        {% if inspection.sealed_brood == True %}
                            visible
                        {% else %}
                            not visible
                        {% endif %}
                    </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="treatments" role="tabpanel" aria-labelledby="profile-tab">
                {% for treatment in treatments %}
                <br>
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title">{{ treatment.name }} - {{ treatment.created_on }}</h6>

                    <p class="card-text">
                        {{ treatment.description | linebreaks }}
                    </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="contact-tab">
                {% for note in notes %}
                <br>
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title">{{ note.title }} - {{ note.created_on }}</h6>

                    <p class="card-text">
                        {{ note.body | linebreaks }}
                    </p>
                    </div>
                </div>
                {% endfor %}
            </div>
          </div>

    </div>
    <br>&nbsp;
</div>
{% endblock %}