{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">

    <br>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="navbar-brand">Actions:</div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new_hive' %}">Add a new hive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{% url 'new_hive' %}">New treatment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{% url 'new_hive' %}">New inspection</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>

<br>

<h5>List of Beehives:</h5>
<div class="row row-cols-1 row-cols-md-5 g-4">
{% for hive in hives %}
    <div class="col">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title"><a href="{% url 'hive_detail' hive.pk %}" class="link-primary">{{ hive.name }}</a></h5>
            <hr style="color: {{ hive.color }}; height: 10px; margin: 0;">
            <p class="card-text">
                {{ hive.description | linebreaks }}
                <br>
                {{ hive.supers }} supers / {{ hive.frames }} frames
                <br>
                Purpose: {{ hive.purpose }}
                <br>
                Strength: {{ hive.strength }}%
                <br>
                Location: {{ hive.location }}
                <br>
                <small><a href="{% url 'edit_hive' hive.pk %}" class="link-primary">edit</a></small>
            </p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<br>&nbsp;
</div>
{% endblock %}